/*
*   Neon Website Theme
 *  File Author: Nicholas S. Blits
 *  Theme Version: 1.0.2
 *  File: stylesheet.css
 *  
 *  Copyright Notice: All code present in this file has been created by Nicholas S. Blits. This is a very basic website theme that may be edited to better map to any website it is ued on, but it is expected that the developer using it recognizes that Nicholas S. Blits is the theme's original developer. Failure to do so may result in legal action as appropriate.
*/

/*Start of stylesheet.css*/

body {
    background-color: black;
    padding: 24px; 
    font-family: monospace;
}

h1 {
    color: crimson;
}

p {
    color: orange;
}

a {
    color: yellow;
}

ul {
    color: greenyellow;
}

dl > dt {
    color: cyan;
}

button {
    background-color: pink;
    border-color: rosybrown;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/*End of stylesheet.css*/