body {
    color: gray;
    background-color: black;
    font-family: monospace;
}

#title 
{
    /*background-color: darkslategrey;*/
    color: white;
    text-align: center;
    font-family: cursive;
    font-size: 44px;
}

#overview 
{
    color: red;
}

#introduction 
{
    color: blue;
}

#disclaimer
{
    background-color: yellow;
    color: black;
    font-weight: bolder;
}

.examples
{
    color: green;
}

#messageButton 
{
    background-color: green;
    color: white;
    border-color: green;
    position: relative;
}